# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
*.egg
MANIFEST
wheels/

# Entornos virtuales
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter
.ipynb_checkpoints/

# Tests y cobertura
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
htmlcov/
coverage.xml
*.cover

# Type checkers y linters
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
.ruff_cache/
pyrightconfig.json

# Android / Android Studio
app/.gradle/
app/build/
*.iml
.idea/
local.properties
*.apk
*.aab

# Dataset 
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Modelo entrenado (puede pesar cientos de MB)
model/saved_model/*
!model/saved_model/.gitkeep

# El .tflite SÍ se sube porque es pequeño y lo necesita la app
!model/exports/*.tflite

# Archivos sensibles
google-services.json
*.keystore

# Sistema operativo
.DS_Store
Thumbs.db